@import "tailwindcss";

@theme {
  /* COLOR */
  --color-accent-1: rgba(66, 66, 78, 1);
  --color-accent-2: rgba(60, 61, 72, 1);
  --color-accent-3: rgba(51, 51, 62, 1);
  --color-accent-4: rgba(40, 41, 52, 1);
  --color-accent-5: oklch(0.707 0.022 261.325);
  --color-black: rgba(0, 0, 0, 1);
  --color-drop-shadow-color: rgba(0, 0, 0, 0.25);
  --color-primary: rgba(171, 240, 124, 1);
  --color-danger: oklch(0.637 0.237 25.331);
  --color-secondary: rgba(213, 238, 225, 1);
  --color-tertiary: rgba(106, 117, 146, 1);
  --color-white: rgba(255, 255, 255, 1);

  /* DROP SHADOW */
  --drop-shadow-custom: 4px 4px 10px rgba(0 0 0 / 0.25);

  /* FONT */
  --font-inter: "Inter", serif;

  /* BORDER RADIUS */
  --radius-ten: 10px;
  --radius-seven: 7px;
}
